<%- include("../../partials/header") %>

  
        <!-- THIS IS THE BLOCKS FOR DISPLAYING PROPERTIES -->
        <div class="wrapper row3">
            <main class="hoc container clear"> 
              <!-- main body -->
              <!-- ################################################################################################ -->
              <section id="introblocks">
                <div class="sectiontitle">
                    <article>
                  <h6 class="heading"> employee Database</h6>
                  <p>View all registered employees in the organisation</p>
                
              
                    <footer><a class="btn" href="/employee/add"> Add New employee</a></footer>
                
                </article>
                </div>
               <!-- <div class="container"> -->
                <!-- <div class="row"> -->
                
                <ul class="nospace group"
                    <% employees.forEach(function(employee){ %>
                        <div class="col-md-4">
                  <li class="one_half " id="cardblock">
                    <article><a href="#"><i class="fa fa-user-circle"></i></a>
                      <h6 class="heading"><%= employee.name %></h6>
                      <p><%= employee.salary %> </p>
                      <p><%= employee.Aadhar %> </p>
                      <p><%= employee.date_of_joining %> </p>
                      <p><%= employee.description %>  </p>
                      <footer><a class="btn" id="edit" href="#">Edit</a>
                        <form class="delete-form" action="/employee/<%=employee._id%>?_method=DELETE" method="POST">
                          <input type="submit" class="btn btn-xs btn-danger" id="delete" value="Delete"> 
        
                        </form>
                      </footer>
                    </article>
                  </li>
                  <% }); %>
                </ul>
            </div>
        </div>
    </div>
              </section>
            </main>
            </div>
           
      
        <!-- <a href="/land/add" class="btn btn-block create-account">Add New Land</a>
        <a href="/bill/add" class="btn btn-block create-account">Add Transaction</a> -->
        <%- include("../../partials/footer") %>


