

<%- include("../../partials/header") %>

<div id="detail">
  <h1>Past Transactions</h1>
  
  
      <div class="scrollable">
        <table>
          <thead>
            <tr>
              <th>Date of transaction</th>
                <th>Recipient</th>
                <th>Land/Property</th>
                <th>Purpose</th>
                <th>Amount</th>
                <th>Edit/Delete</th>
            </tr>
          </thead>
          <tbody>
            <% bills.forEach(function(bill){ %>
              <tr>
                <td><%= bill.date %></td>
                <td><%= bill.recipient %> </td>
                <td><%= bill.land %></td>
                <td><%= bill.description %></td>
                <td><%= bill.amount %></td>
                <td><div> <button> Edit</button> <button> Delete</button></div></td>
              </tr>
            
              <% }); %>

          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <!-- <script src="assets/js/script.js"></script> -->
    <%- include("../../partials/footer") %>

