

<%- include("../../partials/header") %>

<div id="detail">
  <h1>Past Transactions</h1>
  <!-- <div class="sectiontitle">
    <h6 class="heading">Erat etiam aliquet diam nec purus</h6>
    <p>Vitae porta purus hendrerit mauris elementum nibh et placerat</p>
  </div> -->
  <div class="wrapper row3">
   
      <!-- main body -->
      <!-- ################################################################################################ -->
      <section id="introblocks">
  <article>
      <footer><a class="btn" href="/bill/add"> Add New Transaction</a></footer>
  
  </article>
  </section>
  
  
      <div class="scrollable">
        <table>
          <thead>
            <tr>
              <th>Date of transaction</th>
                <th>Recipient</th>
                <th>Land/Property</th>
                <th>Purpose</th>
                <th>Amount</th>
                <th>Edit/Delete</th>
            </tr>
          </thead>
          <tbody>
            <% bills.forEach(function(bill){ %>
              <tr>
                <td><%= bill.date %></td>
                <td><%= bill.recipient %> </td>
                <td><%= bill.land %></td>
                <td><%= bill.description %></td>
                <td><%= bill.amount %></td>
                <td><div>  
                  
                  <a class="btn btn-xs btn-warning" href="/bill/<%=bill._id %>/edit"> Edit</a>
                  <form class="delete-form" action="/bill/<%=bill._id%>?_method=DELETE" method="POST">
                  <input type="submit" class="btn btn-xs btn-danger" id="delete" value="Delete"> 

                </form></div></td>
              </tr>
            
              <% }); %>

          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <!-- <script src="assets/js/script.js"></script> -->
    <%- include("../../partials/footer") %>

